.color-primary-0 {
    color: #ffa82e;
}
/* Main Primary color */

.color-primary-1 {
    color: #ffecd2;
}

.color-primary-2 {
    color: #ffc471;
    /*2do color fondo y hover*/
}

.color-primary-3 {
    color: #ff9500;
    /*principal*/
}

.color-primary-4 {
    color: #fa9200;
}

.color-secondary-1-0 {
    color: #ffe12e;
}
/* Main Secondary color (1) */

.color-secondary-1-1 {
    color: #fff8d2;
}

.color-secondary-1-2 {
    color: #ffea71;
}

.color-secondary-1-3 {
    color: #ffda00;
}

.color-secondary-1-4 {
    color: #fad600;
}

.color-secondary-2-0 {
    color: #fe2e33;
}
/* Main Secondary color (2) */

.color-secondary-2-1 {
    color: #ffd2d3;
}

.color-secondary-2-2 {
    color: #fe7174 !important;
    /*titulos*/
}

.color-secondary-2-3 {
    color: #fe0007;
}

.color-secondary-2-4 {
    color: #f80006;
}

* {
    box-sizing: border-box;
}

html,
body,
nav,
header,
ol,
footer {
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: 300;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

footer {
    color: white;
    background-color: #ff9500 !important;
    align-self: flex-end;
    border-top: 2px solid #ff9500;
    font-family: "Kaushan Script", cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1,
h2 {
    color: #fe7174;
    font-family: "Kaushan Script", cursive;
}

.condiciones a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.condiciones a:hover {
    color: #ffc471;
}

.condiciones a:nth-child(1):after {
    margin-left: 15px;
    content: "|";
}

footer .copyright {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
}

.logoTitle {
    margin-top: 10px;
    color: #ff9500;
    display: flex;
    justify-content: center;
    font-family: "Kaushan Script", cursive;
    font-size: 3.2em;
    width: 100%;
    height: 90px;
    letter-spacing: 5px;
}

.logoTitle div:nth-child(2) {
    color: #fe0007;
    font-size: 0.7em;
    margin-top: 10px;
    margin-left: 3px;
}

.social {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.social .fa {
    margin-left: 5px;
    color: #ff9500;
}

.social .fa:hover {
    color: #ffc471;
}

.portada {
    background-image: url(../image/img4.jpg);
    background-size: cover;
    width: 100%;
    display: inline-block;
    height: 600px;
}

.portada p {
    width: 500px;
    background-color: grey;
    opacity: 0.7;
    margin-top: 200px;
    margin-left: 150px;
    color: white;
    text-shadow: 3px 3px 8px #494545;
    border: solid 3px #827676;
    border-radius: 20px;
    padding: 30px;
}

.portadaDiv {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 6em;
}

.portadaContacto {
    background-image: url(../image/img3.jpg);
    background-size: cover;
    width: 100%;
    display: inline-block;
    height: 400px;
}

.portada span:nth-child(2) {
    color: #f7f4f4;
}

.textSpan {
    font-size: 0.3em;
}

.portadaContacto .portadaContactoDiv {
    background-color: grey;
    opacity: 0.7;
    margin-top: 65px;
    color: white;
    text-shadow: 3px 3px 8px #494545;
    border: solid 3px #827676;
    padding: 10px;
    font-size: 2.3em;
    text-align: center;
}

.portadaContacto .portadaContactoDiv .textSpan {
    font-size: 0.6em;
}

.lineDiv {
    width: 100%;
    height: 2px;
    background-color: #fe7174;
}

.titulo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo img {
    width: 100px;
    height: 100px;
}
.titulo h1 {
    color: #fe7174;
    font-family: "Kaushan Script", cursive;
    width: 100%;
}

.menu .displayMenu {
    display: none;
}

.menu {
    background-color: #ffc471;
}

.menu ol {
    display: flex;
    justify-content: space-around;
}

.menu li {
    padding: 15px 10px;
    display: inline-block;
    font-size: 1.4em;
}

.menu li:nth-child(2) {
    background-color: #ff9500;
    padding: 5px 20px 5px 20px;
}

.menu li:nth-child(2):hover {
    background-color: #ffc471;
}

.menu li a {
    color: white !important;
    text-decoration: none;
}

.menu li a:hover {
    color: #ff9500 !important;
}

.menu li a div {
    font-family: "Kaushan Script", cursive;
    line-height: 0.45;
}

.menu li a div:nth-child(1) {
    padding-top: 4.5px;
}

.menu li a div:nth-child(2) {
    text-indent: 40px;
    font-size: 0.8em;
}

.menu li a div:nth-child(3) {
    text-indent: 55px;
}

.fondo div {
    padding: 25px;
    font-size: 1.2em;
    text-align: justify;
}

.contenedor .fondo img {
    position: relative;
    display: flex;
}

.contenedor {
    color: grey;
    max-width: 1000px;
    margin: auto;
    font-size: 1.3em;
}

.contenedor div img {
    margin: auto;
    /* width: 100px; */
    /* height: 100px; */
}

[class^="tableImageItem-"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position-x: center !important;
    background-position-y: center !important;
    margin: 3px;
}

.tableImage {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
}

.tableImageItem-1:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.tableImageItem-1:nth-child(2) {
    background-image: url(../image/bodas.jpg);
    margin-right: 2px;
}

.tableImageItem-2:nth-child(2) {
    display: flex;
}

.tableImageItem-2:nth-child(1) {
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: -2px;
}

.tableImageItem-3:nth-child(1) {
    background-image: url(../image/15anos2.jpg);
    margin-left: -0.5px;
}

.tableImageItem-3:nth-child(2) {
    background-image: url(../image/bautizo2.jpg);
    margin-right: -0.5px;
}

.tableImage2 {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 100%;
}

.tableImageItem2 {
    background-size: cover;
    background-position: center center;
}

.tableImageItem2:nth-child(1) {
    width: 45%;
    background-image: url(../image/img2.jpg);
}

.tableImageItem2:nth-child(2) {
    width: 33%;
    background-image: url(../image/img7.jpg);
}

.tableImageItem2:nth-child(3) {
    width: 20%;
    background-image: url(../image/bautizo.jpg);
}

.imageAside {
    width: 100%;
    height: 150%;
}

.backgroundMedio {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    display: inline-block;
}

.textMedio {
    font-family: "Kaushan Script", cursive;
    color: white;
    margin-top: 50px;
    margin-right: 250px;
    width: 400px;
    float: right;
    font-size: 3.5em;
}

.textMedio2 {
    text-align: center;
    font-size: 1.35em;
}

.textMedio2 p {
    margin: 0 100px 0 100px;
}

.table {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.item {
    align-items: stretch;
    padding: 5px;
}

.imageItem {
    width: 300px;
    height: 250px;
    display: block;
    object-fit: cover;
    object-position: center;
}

.titulo2 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.titulo2 h2 {
    margin-left: 5px;
    letter-spacing: 9px;
}

.articulo {
    display: flex;
    justify-content: center;
    height: auto;
}

.textArticulo {
    padding: 10px;
    text-align: center;
}

.articuloEvento {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.articuloEvento div {
    padding: 5px;
}

.articuloEvento .imageItem2 {
    height: 350px;
    width: 100%;
}

.articuloEvento .imageItem2 img {
    background-position: center center;
    width: 100%;
}

.articuloEvento .imageItem2:hover img {
    transform: scale(1.04);
    transition: 2s;
}

.articuloEvento .imageItem2:hover .titulo3 {
    margin-top: -255px;
    display: block;
    opacity: 0.5;
}

.titulo3 {
    display: none;
}

.service {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service .serviceItem {
    color: white !important;
    background-color: #ffc471;
    margin: 10px;
    border: 2px solid #ffad3b;
    width: 100%;
    height: 230px;
    text-align: center;
}

.service .serviceItem h2 {
    margin-top: -10px;
    color: white !important;
}

.serviceItem .fa,
.serviceItemMap .fa {
    border-radius: 50%;
    border: 2px solid #fe7174;
    margin-bottom: 10px;
    padding: 30px;
}

.serviceItem .fa:hover,
.serviceItemMap .fa:hover {
    color: #fe7174;
}

.serviceItem .borderItem {
    margin: auto;
    border-radius: 50%;
    border: 2px solid #fe7174;
    width: 280px;
    height: 280px;
}

#service .serviceItem {
    display: flex;
    justify-content: space-around;
}

.form {
    margin-top: 20px !important;
    color: #fe7174;
    margin: 0 auto;
    width: 100%;
    font-family: "Kaushan Script", cursive;
    letter-spacing: 0.1em;
    padding: 3px;
}

.form legend {
    text-align: center;
    font-size: 1.7em;
}

.form fieldset {
    border: none;
}

.form input,
textarea {
    width: 100% !important;
    font-family: cursive;
    color: gray;
}

.form input[type="submit"] {
    background-color: #fe7174;
    color: white;
    border: none;
    width: 100%;
}

.contenedor .serviceItem {
    color: gray !important;
    background-color: white;
    border: none;
}

.serviceItemMap {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.contenedor .serviceItem h2,
.contenedor .serviceItemMap h2 {
    color: gray !important;
}

.serviceItem:nth-child(2) {
    height: auto;
}

iframe {
    height: 350px;
}
/*Media query*/
/* Small devices (tablets, 768px and up) */

@media screen and (max-width: 800px) {
    .contenedor {
        width: 700px;
    }
    .imageItem {
        width: 220px;
    }
    .titulo h1 {
        width: 7000px;
    }
    .textMedio {
        margin-right: auto;
    }
    .textMedio2 {
        font-size: 0.9em;
    }
    .portadaDiv {
        font-size: 5em;
    }
    .titulo .lineDiv:nth-child(1) {
        visibility: hidden;
    }
    .titulo .lineDiv:nth-child(5) {
        visibility: hidden;
    }
    .articuloEvento .imageItem2:hover .titulo3 {
        margin-top: -155px;
    }
    #service {
        display: inline-flex;
        flex-direction: column;
    }
    #service .serviceItem {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 300px !important;
    }
    #service .serviceItem:nth-child(1) {
        display: inline-block;
        flex-direction: column !important;
    }
    #service .serviceItem:nth-child(2) {
        display: inline-block !important;
        height: auto !important;
    }
    iframe {
        width: 100% !important;
        height: 500px;
    }
    footer .copyright {
        margin-top: 0px;
    }
    footer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 500px) {
    nav.position {
        z-index: 100;
    }
    .portada .contenedor {
        position: static;
    }
    .social {
        display: flex;
        flex-direction: column;
        top: 150px;
        left: 0;
        position: fixed;
        margin-top: 0;
        margin-right: 0;
        width: 32px;
    }
    .portada p {
        width: auto;
        margin-top: 400px;
        margin-left: 0;
        padding: 0;
    }
    .portada {
        background-position-x: -256px;
    }
    .portadaDiv {
        display: none;
    }
    .buttonDes {
        color: white;
        width: 45px;
        border-radius: 50%;
        line-height: 40px;
        height: 45px;
        background-color: #fe7174;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: fixed;
        left: 10px;
        top: 26px;
        z-index: 100;
    }
    .menu .displayMenu {
        display: block;
    }
    .menu {
        background: rgba(255, 60, 60, 0.8);
        text-align: center;
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        width: 100%;
        align-items: center;
        transition: 0.3s;
        text-align: center;
    }
    .menu.active {
        left: 0;
    }
    .menu ol {
        flex: 1;
        display: block;
    }
    .icon-menu:before {
        content: "Menu";
    }
    .menu li {
        display: block;
        margin: 0;
        padding: 8px 0;
        border-bottom: 1px solid white;
    }
    .menu li:before {
        display: none;
    }
    .menu li:nth-child(2) {
        display: none;
    }
    .menu li a div:nth-child(1) {
        display: none;
        padding-top: 0;
    }
    .menu li a div:nth-child(2) {
        display: none;
        text-indent: 0;
        font-size: 0;
    }
    .menu li a div:nth-child(3) {
        display: none;
        text-indent: 0;
    }
    .contenedor {
        width: 100%;
    }
    .titulo {
        margin: 0;
        margin-bottom: -50px;
    }
    .table {
        display: block;
        text-align: center;
        margin: 0;
    }
    .table .item:nth-child(3) {
        display: none;
    }
    .table .item img {
        display: block;
    }
    .imageAside {
        text-align: center;
        margin: auto;
    }
    .articuloEvento .imageItem2 {
        height: 135px;
    }
    .articuloEvento .imageItem2:hover .titulo3 {
        margin-top: -105px;
    }
    .backgroundMedio {
        height: auto;
        background-attachment: initial;
    }
    .textMedio {
        margin: 0;
        font-size: 2.5em;
        width: 100%;
        margin-top: 100px;
    }
    .textMedio2 p {
        margin: auto;
    }
    .articulo2 {
        padding: 15px;
        text-align: justify;
        text-justify: auto;
    }
    .portadaContacto {
        height: auto;
    }
    .textSpan {
        font-size: 0.35em;
    }
    .portadaContacto .portadaContactoDiv {
        padding: 2px;
        font-size: 1.3em;
        background-color: transparent;
        border: transparent;
        opacity: initial;
    }
    .textArticulo {
        padding: 0;
    }
    [class^="tableImageItem-"] {
        margin: 0 !important;
    }
    .tableImage {
        flex-direction: column;
        height: auto;
    }
    .tableImageItem-1 {
        background-position-x: center !important;
        background-position-y: center !important;
    }
    .tableImageItem-1:nth-child(1) {
        height: 600px;
    }
    .tableImageItem-1:nth-child(2) {
        height: 250px;
    }
    .tableImageItem-2 {
        height: 400px;
    }
    .tableImageItem-2:nth-child(2) {
        margin: 3px 0 3px 0 !important;
        height: 200px;
    }
    .tableImage2 {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .tableImageItem2 {
        height: 250px;
        width: 250px !important;
        border-radius: 50%;
        margin: 5px 0 5px 0 !important;
    }
    .service {
        flex-direction: column;
    }
    .serviceItem {
        margin: 0;
        margin: 0 0 25px 0 !important;
        height: auto !important;
    }
    #service .serviceItem {
        height: auto !important;
    }
    footer {
        font-size: 0.6em;
    }
    footer .condiciones {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .titulo img {
        display: none !important;
    }
}
